@import '../../assets/style/blocks';
@import './header';
@import './contact';
@import './requisites';
@import './footer';

body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 900px;
    background-image: url('../../assets/images/home-bg.jpg');
    background-size: cover; 
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}