@mixin font($size){
    font-family: 'Montserrat';

    @if $size == 8{
        font-size: 8px;
    } 
    @else if $size == 12{
        font-size: 12px;
    } 
    @else if $size == 14{
        font-size: 14px;
    } 
    @else if $size == 16{
        font-size: 16px;
    } 
    @else if $size == 18{
        font-size: 18px;
    } 
    @else if $size == 20{
        font-size: 20px;
    } 
    @else if $size == 24{
        font-size: 24px;
    } 
    @else if $size == 36{
        font-size: 36px;
    } 
    @else if $size == 48{
        font-size: 48px;
    } 
    @else if $size == 72{
        font-size: 72px;
    }
}
