.chance {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 862px;
    margin: 0 auto;
    background-color: $white;

    &__textbox {
        display: flex;
        flex-direction: column;
        width: 968px;
        height: 137px;
        margin: 80px auto 64px;
    }

    &__title {
        @include font(36);
        font-weight: 400;
        color: $dark;
        margin: 0 auto;
    }

    &__text {
        @include font(20);
        font-weight: 600;
        color: $dark;
        margin: 24px auto 8px;
    }

    &__desc {
        @include font(16);
        font-weight: 400;
        color: $dark;
        width: 625px;
        margin: 0 auto;
        text-align: center;
    }

    &__second {
        display: flex;
        position: relative;
    }

    &__img-nd {
        display: none;
    }

    &__navigator-dots {
        display: none;
    }

    &__left-arrow {
        box-sizing: border-box;
        position: absolute;
        left: 544px;
        top: 204px;
        box-sizing: border-box;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: $white;
        color: #bdbdbd;
        padding: 20px 0 0 10px;
        cursor: pointer;
        transition: all .5s ease-in-out;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }

    &__left-arrow:hover &__left-span {
        background-color: transparent;
    }

    &__left-span {
        position: absolute;
        top: -46px;
        left: 34px;
        margin: 60.5px 0 0 -5px;
        width: 8px;
        height: 8px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $red;
        transition: all .5s ease-in-out;
    }

    &__right-arrow {
        position: absolute;
        left: 1340px;
        top: 196px;
        box-sizing: border-box;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: $white;
        border: 1px solid transparent;
        color: #bdbdbd;
        padding: 20px 0 0 10px;
        cursor: pointer;
        transition: all .5s ease-in-out;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }

    &__right-arrow:hover &__right-span {
        background-color: transparent;
    }

    &__right-span {
        position: absolute;
        top: -46px;
        left: 7px;
        margin: 60.5px 0 0 -5px;
        width: 8px;
        height: 8px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $red;
        transition: all .5s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    .chance {
        box-sizing: border-box;
        width: 768px;
        height: 620px;

        &__textbox {
            width: 728px;
            height: 113px;
            margin: 40px auto 32px;
        }

        &__second {
            display: flex;
            flex-direction: column;
        }

        &__title {
            @include font(24);
        }

        &__text {
            @include font(16);
            margin: 16px auto 8px;
        }

        &__desc {
            @include font(14);
            width: 728px;
        }

        &__img {
            display: none;
        }

        &__img-nd {
            display: block;
            width: 604px;
            height: 360px;
            margin: 0 auto;
        }

        &__left-arrow {
            top: 150px;
            left: 29px;
        }

        &__right-arrow {
            top: 150px;
            left: 707px;
        }

        &__navigator-dots {
            display: block;
            width: 80px;
            height: 8px;
            margin: 24px auto 0;
        }
    }
}

@media screen and (max-width: 320px) {
    .chance {
        width: 320px;
        height: 468px;

        &__textbox {
            width: 300px;
            height: 150px;
            margin: 32px auto;
        }

        &__second {
            display: flex;
            flex-direction: column;
        }

        &__title {
            @include font(20);
            width: 300px;
            text-align: center
        }

        &__text {
            @include font(14);
            margin: 8px auto 16px;
        }

        &__desc {
            @include font(14);
            width: 300px;
        }

        &__img {
            display: none;
        }

        &__img-nd {
            display: block;
            width: 300px;
            height: 180px;
            margin: 0 auto;
        }

        &__left-arrow {
            top: 188px;
            left: 10px;
        }

        &__right-arrow {
            top: 188px;
            left: 270px;
        }

        &__navigator-dots {
            display: block;
            width: 80px;
            height: 8px;
            margin: 25px auto 0;
        }
    }
}