.header {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 800px;
    margin: 0 auto;
    background-image: url('../../assets/images/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;


    &__navbar {
        display: flex;
        box-sizing: border-box;
        width: 1920px;
        height: 80px;
        margin: 16px auto 0;
    }

    &__logo {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 80px;
        background: $white;
        border-radius: 0px 40px 40px 0px;
        margin: 0;
        padding: 0;
    }

    &__logotip {
        margin: 0 0 0 -40px;
        padding: 0;
    }

    &__phone-logo {
        display: none;
        margin: 0;
    }

    &__phone-menu {
        display: none;
        margin: 0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        width: 781px;
        height: 15px;
        margin: 32px 0 0 250px;
    }

    &__item a {
        @include font(12);
        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;

        &:hover {
            color: #fff;
        }
    }

    &__close {
        width: 80px;
        height: 32px;
        border: 1px solid $white;
        border-radius: 5px;
        margin: 24px 0 0 415px;
        cursor: pointer;
        @include font(14);
        font-weight: 500;
        color: $white;
        transition: all .5s ease-in-out;

        &:hover {
            background-color: $blue;
            border: 2px solid $blue;
        }
    }

    &__icon {
        color: $white;
        margin: 17px 3px 0 -1px;
    }

    &__question {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include font(20);
        font-weight: 700;
        color: $white;
        width: 32px;
        height: 32px;
        border: 1px solid $white;
        border-radius: 50%;
        margin: 24px 0 0 10px;
        transition: all .5s ease-in-out;

        &:hover {
            background-color: $red;
            border: 1px solid transparent;
        }
    }

    &__question:hover &__question-span {
        background-color: transparent;
    }

    &__question-span {
        position: absolute;
        left: 24px;
        top: 1px;
        width: 7px;
        height: 7px;
        border: 1px solid transparent;
        background-color: $red;
        border-radius: 50%;
        transition: all .5s ease-in-out;
    }


    &__textbox {
        display: flex;
        flex-direction: column;
        width: 1440px;
        height: 580px;
        margin: 125px auto 0;
    }

    &__title {
        @include font(72);
        font-weight: 300;
        text-align: center;
        color: $white;
        width: 1332px;
        margin: 0 auto;
    }

    &__desc {
        @include font(20);
        font-weight: 600;
        text-align: center;
        color: $white;
        width: 546px;
        margin: 40px auto 47px;
    }

    &__buttonsbox {
        display: flex;
        width: 430px;
        height: 50px;
        margin: 0 auto;
    }

    &__surveyBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 32px;
        background: $blue;
        color: $white;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        &:hover {
            border: 2px solid $blue;
            background-color: transparent;
            color: $blue;
        }
    }

    &__tarifBtn {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 32px;
        margin: 0 0 0 20px;
        gap: 12px;
        border: 1px solid $white;
        color: $white;
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        &:hover {
            border: 1px solid transparent;
            background-color: $blue;
        }
    }

    &__partners {
        box-sizing: border-box;
        display: flex;
        width: 1440px;
        height: 112px;
        background-color: $white;
        margin: 201px auto 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__partners-left-arrow {
        position: relative;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid transparent;
        color: #bdbdbd;
        margin: 50px 0 0 42px;
        padding: 14px 0 0 3px;
        cursor: pointer;
        transition: all .5s ease-in-out;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }

    &__partners-left-arrow:hover &__partners-left-span {
        background-color: transparent;
    }

    &__partners-left-span {
        position: absolute;
        top: -51px;
        left: 25px;
        margin: 60.5px 0 0 -5px;
        width: 8px;
        height: 8px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $red;
        transition: all .5s ease-in-out;
    }

    &__partnersImg {
        display: flex;
        width: 1160px;
        height: 50px;
        margin: 40px 72px 0;
        gap: 55px;
    }

    &__partners-right-arrow {
        position: relative;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid transparent;
        color: #bdbdbd;
        margin: 50px 0 0 0;
        padding: 14px 0 0 3px;
        cursor: pointer;
        transition: all .5s ease-in-out;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }

    &__partners-right-arrow:hover &__partners-right-span {
        background-color: transparent;
    }

    &__partners-right-span {
        position: absolute;
        top: -51px;
        left: 3px;
        margin: 60.5px 0 0 -5px;
        width: 8px;
        height: 8px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $red;
        transition: all .5s ease-in-out;
    }

}

@media screen and (max-width: 768px) {
    .header {
        position: relative;
        width: 768px;
        height: 416px;
        background-image: url('../../assets/images/tablet-header-bg.jpg');
        background-size: contain;

        &__navbar {
            display: flex;
            box-sizing: border-box;
            width: 768px;
            height: 64px;
            margin: 0;
            background-color: $white;
            border: 1px solid;
        }

        &__logo {
            display: flex;
            width: 230px;
            height: 40px;
            margin: 11px 0 0 20px;
            background-color: transparent;
        }

        &__logotip {
            width: 230px;
            height: 40px;
            margin: 5px 0 0 -10px;
        }

        &__list {
            display: flex;
            visibility: hidden;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            gap: 20px;
            position: absolute;
            top: 30px;
            left: -250px;
            background-color: $dark;
            width: 768px;
            height: 30px;
            padding: 5px;
        }

        &__navbar:hover &__list {
            visibility: visible;
        }

        &__item {
            color: $black;
        }

        &__close {
            border: 1px solid $blue;
            color: $blue;
            padding: 0;
            margin: 16px 0 0 370px;

            &:hover {
                background-color: $blue;
                color: $white;
            }
        }

        &__close:hover &__icon {
            color: $white;
        }

        &__icon {
            color: $blue;
        }

        &__question {
            color: $dark;
            border: 1px solid $blue;
            margin: 16px 0 0 10px;
            transition: all .5s ease-in-out;

            &:hover {
                background-color: $dark;
                color: $blue;
                border: 2px solid $blue;
            }
        }

        &__question-span {
            display: none;
        }

        &__textbox {
            width: 728px;
            height: 316px;
            margin: 36px auto 0;
        }

        &__title {
            @include font(36);
            width: 600px;
        }

        &__desc {
            @include font(16);
            margin: 16px auto 24px;
            width: 400px;
        }

        &__buttonsbox {
            margin: 0 auto;
            gap: 50px;
        }

        &__surveyBtn {
            padding: 18px 36px;
        }

        &__tarifBtn {
            padding: 18px 36px;
        }

        &__partners {
            width: 728px;
            height: 72px;
            margin: 80px auto 0;
        }

        &__partnersImg {
            width: 584px;
            height: 56px;
            margin: 8px 16px;
            gap: 10px;
        }

        &__partners-img {
            display: none;
        }

        &__partners-left-arrow {
            margin: 24px 0 0 32px;
        }

        &__partners-right-arrow {
            margin: 24px 0 0 0;
        }
    }
}

@media screen and (max-width: 320px) {
    .header {
        background-image: url('../../assets/images/phone-header-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        width: 320px;
        height: 480px;

        &__navbar {
            display: flex;
            box-sizing: border-box;
            width: 320px;
            height: 64px;
            margin: 0;
        }

        &__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            width: 180px;
            height: 250px;
            margin: 35px 0 0 250px;
            background-color: $blue;
            transition: all .5s ease-in-out;
        }

        &__item a {
            color: $black;

            &:hover {
                color: $white;
            }
        }

        &__logo {
            width: 84px;
            height: 32px;
            margin: 16px 0 0 16px;
        }

        &__logotip {
            display: none;
        }

        &__phone-logo {
            display: block;
            width: 32px;
            height: 32px;
            margin: 0 19px 0 0;
        }

        &__phone-menu {
            display: flex;
            width: 32px;
            height: 32px;
            margin: 0;
        }

        &__close {
            display: none;
        }

        &__question {
            margin: 16px 0 0 178px;
        }

        &__textbox {
            width: 300px;
            height: 370px;
            margin: 46px auto 0;
        }

        &__title {
            @include font(24);
            font-weight: 300;
            width: 300px;
        }

        &__desc {
            @include font(14);
            margin: 16px auto 20px;
            width: 300px;   
        }

        &__buttonsbox {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            gap: 16px;
            width: 300px;
            height: 112px;
        }

        &__surveyBtn {
            width: 300px;
            height: 48px;
            padding: 16px 0;
        }

        &__tarifBtn {
            width: 300px;
            height: 48px;
            padding: 16px 0;
            margin: 0;
        }

        &__partners {
            width: 300px;
            height: 64px;
            margin: 55px auto 0;
        }

        &__partnersImg {
            width: 180px;
            height: 48px;
            margin: 8px 20px;
            gap: 20px;
        }
        &__partnersImg img{
            width: 80px;
            height: 48px;
        }

        &__partners-img2 {
            display: none;
        }

        &__partners-left-arrow {
            margin: 20px 0 0 16px;
        }

        &__partners-right-arrow {
            margin: 20px 0 0 0;
        }
    }
}