.survey {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 640px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #F4F5F9 32.81%, #F7F7FA 67.71%, rgba(255, 255, 255, 0.5) 100%), #F4F5F9;
    margin: 0 auto;

    &__title {
        @include font(36);
        font-weight: 400;
        color: $dark;
        margin: 80px auto 40px;
    }

    &__list {
        display: flex;
        width: 1110px;
        height: 400px;
        margin: 0 auto;
        gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 400px;
        margin: 0;
        padding: 0;
        background: #FFFFFF;
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
        border-radius: 9px;
    }

    &__img {
        margin: 24px 0 0 24px;
    }

    &__subtitle {
        @include font(18);
        font-weight: 700;
        color: $dark;
        margin: 24px 0 16px 24px;
    }

    &__textlist {
        display: flex;
        flex-direction: column;
        list-style: disc;
        width: 300px;
        height: 150px;
        margin: 0 0 0 42px;
        gap: 10px;
    }

    &__textitem {
        @include font(14);
        font-weight: 400;
        letter-spacing: -0.02em;
    }

    &__textitem::marker {
        color: $red-nd;
    }

    &__arrow {
        display: none;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    
    &__mobile-list {
        visibility: hidden;
    }

    &__mobile-item {
        visibility: hidden;
    }

    &__mobile-title {
        visibility: hidden;
    }

    &__mobile-desc {
        visibility: hidden;
    }

    &__mobile-img {
        visibility: hidden;
    }

    &__mobile-arrow {
        visibility: hidden;
    }
}



@media screen and (max-width: 768px) {
    .survey {
        width: 768px;
        height: 798px;

        &__title {
            @include font(24);
            font-weight: 400;
            color: $dark;
            margin: 40px auto 32px;
        }

        &__list {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 728px;
            height: 698px;
            margin: 0 auto;
        }

        &__item:nth-child(3) {
            position: absolute;
            top: 430px;
            left: 1px;
            width: 728px;
            height: 274px;
            margin: 0;
        }

        &__item:nth-child(3) &__img {
            position: absolute;
            top: 24px;
            left: 314px;
            width: 414px;
            height: 214px;
        }
    }
}

@media screen and (max-width: 320px) {
    .survey {
        width: 320px;
        height: 1214px;

        &__title {
            @include font(20);
            width: 300px;
            margin: 40px auto 24px;
            text-align: center;
        }

        &__list {
            display: none;
        }

        &__item {
            display: none;
        }

        &__mobile-list {
            display: flex;
            flex-direction: column;
            visibility: visible;
            width: 301px;
            height: 1062px;
            margin: 0 auto;
            gap: 24px;
        }

        &__mobile-item {
            display: flex;
            flex-direction: column;
            visibility: visible;
            position: relative;
            width: 300px;
            height: 338px;
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            border-radius: 9px;
        }

        &__mobile-title {
            visibility: visible;
            @include font(18);
            font-weight: 700;
            margin: 32px 0 0 24px;
        }

        &__mobile-desc {
            visibility: visible;
            @include font(12);
            font-weight: 700;
            color: #2b2b2b;
            margin: 8px 0 57px 24px;
            width: 252px;
        }

        &__mobile-img {
            visibility: visible;
            margin: 0 0 0 149px;
        }

        &__mobile-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: visible;
            position: absolute;
            top: 266px;
            left: 24px;
            width: 40px;
            height: 40px;
            background: #FFFFFF;
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
        }
    }
}